@charset "UTF-8";


.row{
	width:100%;
	max-width:900px;
	min-width:900px;
	margin:0 auto;	
}
.title{
	text-align: center
}
.inforow{
	width: 33%;
}
button {
	width:69px; 
	height:69px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border:5px solid #000000;
	background-color:#FFE814;
	background-image: url('/images/happyFace.png');
    background-repeat: no-repeat;
	cursor: pointer;
    margin-left: auto;
    margin-right: auto;


}

button:hover {
	width:69px; 
	height:69px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border:5px solid #000000;
	background-color:#FFFF00;
	background-image: url('/images/happyFace.png');
    background-repeat: no-repeat;

	cursor: pointer;
}
body {
    background-color: #F7F7F7;
}

header {
	padding: 30px 0px;	
}

h1 {
	font-family: 'Lato', serif;
	font-weight: 900;	
}
h2 {
	font-family: 'Abel', serif;
	font-weight: 900;
	font-size: 250%;
	line-height:-1em;
}
